body {
  font-family: "Open Sans Condensed";
  padding: 20px 60px;
}

a {
  text-decoration: none;
  color: black;
}

* {
  /* disregards padding and aligns all boxes within the app */
  box-sizing: border-box;
}
